mat-list-item{
    color:white;
}

.mat-icon-blue{
  background-color:blue;
  border-radius: 6px;
}

.mat-icon-white{
  color:white;
}



table {
    width: 100%;
  }

  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

 .removeBorder{
    border:0;
 }

 .box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.box div {
  width: 50px;

}
